<form [formGroup]="parkingForm">
  Veículo: <br/>
  <input formControlName="veicleName">

  <div class="error" *ngIf="parkingForm.controls.veicleName.errors?.required && parkingForm.controls.veicleName.touched">
    Informe o veículo
  </div>


  <br/><br/>

  Placa: <br/>
  <input formControlName="veiclePlate"/>

  <div *ngIf="parkingForm.controls.veiclePlate.invalid && parkingForm.controls.veiclePlate.touched">
    <div class="error" *ngIf=parkingForm.controls.veiclePlate.errors?.required>
      Informe a placa do veículo
    </div>
  
    <div class="error" *ngIf="parkingForm.controls.veiclePlate.errors?.pattern">
      A placa informada é inválida
    </div>  
  </div>

  <br/><br/>

  Motorista: <br/>
  <input formControlName="veicleDriver"/>

  <div class="error" *ngIf="parkingForm.controls.veicleDriver.errors?.required && parkingForm.controls.veicleDriver.touched">
    Informe o veículo
  </div>

  <br/><br/>

  Telefone Contato: <br/>
  <input formControlName="contactPhone"/>

  <div class="error" *ngIf="parkingForm.controls.contactPhone.errors?.required && parkingForm.controls.contactPhone.touched">
    Informe o telefone de contato
  </div>

  <br/><br/>

  <input type="button" value="Salvar" (click)="save()"/>
  &nbsp;&nbsp;&nbsp;
  <input type="button" value="Voltar" (click)="back()"/>

</form>