<table border="1" style="width: 90%;">
    <thead>
        <tr>
        <th>Veículo</th>
        <th>Placa</th>
        <th>Motorista</th>
        <th>Entrada</th>
        <th>Saida</th>
        <th>Total</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of allParkingLots">
        <td>{{ p.veicleName }}</td>
        <td>{{ p.veicleDriver }}</td>
        <td>{{ p.veiclePlate }}</td>
        <td>{{ p.checkIn.toLocaleString() }}</td>
        <td>{{ p.checkOut ? p.checkOut.toLocaleString() : "" }}</td>
        <td>{{ p.total ? "R$ " + p.total.toFixed(2) : "" }}</td>    
        <td><a *ngIf="!p.checkOut" href='javascript:void(0)' (click)='checkOut(p)'>Encerrar</a></td>
        </tr>
    </tbody>
</table>